﻿@{
    ViewData["Title"] = "Search History Page";
}

@model List<MarvelApp.Application.ViewModels.SearchHistoryViewModel>

<h2>Search History</h2>

<div>

    <h4>Verify searches did by this system</h4>

    <hr />

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 ">

            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Search Term</th>
                        <th>Search Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var searchModel in Model)
                    {
                        <tr>
                            <td>@searchModel.SearchTerm</td>
                            <td>@searchModel.SearchDate.ToString("dd/MM/yyyy hh:mm:ss")</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>