﻿
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

div#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/spider-man-background.jpg");
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.navbar {
    background-color: rgba(0,0,0,0) !important;
    background: rgba(0,0,0,0) !important;
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #ccc;
        font-weight: bold;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body .column {
    height: 100vh;
    float: left;
    width: 100%;
    position: relative;
}

    body .column.withResults {
        height: 30vh;
    }

body .two {
    background: #F6F792;
}

body .three {
    background: #EA2E49;
}

body .four {
    background: #333745;
}

body .search {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    overflow: hidden;
}

body .search_bar {
    width: 700px;
    position: relative;
    margin: 0 auto;
}

    body .search_bar input.button-transparent {
        background-color: transparent;
        content: '';
        border: none;
    }

    body .search_bar input[type="text"] {
        width: 70px;
        transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
        padding: 20px;
        /*border-color: #448996;*/
        text-indent: 30px;
        outline: none;
        border: 0px solid;
        font-size: 1.5em;
        border-radius: 5px;
    }

    body .search_bar ::-webkit-input-placeholder {
        /* Safari, Chrome and Opera */
        font-weight: 400;
    }

    body .search_bar ::-moz-input-placeholder {
        /* Safari, Chrome and Opera */
        font-weight: 400;
    }

    body .search_bar ::-o-input-placeholder {
        /* Safari, Chrome and Opera */
        font-weight: 400;
    }

    body .search_bar input[type="checkbox"] {
        display: none;
    }

        body .search_bar input[type="checkbox"]:checked + label + input {
            width: 700px;
            border: 5px solid #333745;
            text-indent: 0px;
        }

        body .search_bar input[type="checkbox"]:checked + label i {
            right: 0px;
            -webkit-transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
            transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
            color: #333745;
        }

        body .search_bar input[type="checkbox"]:checked + label .last {
            -webkit-transform: translateY(-50%) rotate(360deg) scale(1);
            transform: translateY(-50%) rotate(360deg) scale(1);
        }

        body .search_bar input[type="checkbox"]:checked + label p {
            top: 47%;
            transition: all .3s .45s;
        }

        body .search_bar input[type="checkbox"]:not(checked) + label p {
            top: -50%;
            transition: all .3s 0s;
        }

    body .search_bar .last {
        position: absolute;
        top: 47%;
        -webkit-transform: translateY(-50%) rotate(0deg) scale(0);
        transform: translateY(-50%) rotate(0deg) scale(0);
    }

    body .search_bar i {
        position: absolute;
        font-size: 64px;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
        transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
        cursor: pointer;
        z-index: 2;
        margin: auto;
        border-radius: 4px;
        width: 56px;
        right: 50%;
        height: 54px;
        background: transparent;
        transition: right .3s .3s, color .3s, -webkit-transform .3s .3s;
        transition: right .3s .3s, transform .3s .3s, color .3s;
        transition: right .3s .3s, transform .3s .3s, color .3s, -webkit-transform .3s .3s;
        line-height: 60px;
        color: #333745;
    }

        body .search_bar i.last {
            font-size: 30px;
        }

        body .search_bar i:hover {
            color: #CCC;
        }

    body .search_bar p {
        position: absolute;
        margin: 0;
        right: 52px;
        color: #333745;
        font-weight: 700;
        font-size: 30px;
        top: -50%;
        -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
        transform: translateY(-50%) rotate(0deg) scale(1);
    }


.navbar-inverse .btn-link {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

    .navbar-inverse .btn-link:hover {
        color: #ccc;
        font-weight: bold;
    }

.character-detail {
    border-radius: 26px;
    border: 4px solid black;
    padding: 8px;
    background: white;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

    .character-detail .description {
        font-size: 1.3em;
    }

    .character-detail span#character-id {
        float: right;
        font-weight: bold;
    }

    .character-detail div.card {
        border: 1px solid;
    }

    .character-detail li.list-group-item {        
        margin: 5px;
        padding: 5px;
        margin: 5px;
    }

    .character-detail li.list-group-item p {
        font-weight:bold;
    }
