﻿@model MarvelApp.Application.ViewModels.SearchCharacterViewModel

@{
    ViewData["Title"] = "Home Page";
    var withResults = Model != null && Model.SearchResults != null;
}

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 ">
        <form asp-controller="Home" asp-action="SearchCharacter" method="post">
            <div class='column @( withResults ? "withResults" : "" )'>
                <div class='search'>
                    <div class='search_bar'>
                        <input id='searchOne' type='checkbox' checked="@withResults">
                        <label for='searchOne'>
                            <i class='glyphicon glyphicon-search'></i>
                            <i class='last glyphicon glyphicon-remove'></i>
                            <p>|</p>
                        </label>

                        <input placeholder='Search your heroes ...' asp-for="Term" type='text'>
                        <input class="button-transparent" type="submit" value="" />

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    @if (withResults)
    {
        @foreach (var character in Model.SearchResults)
        {
            <div class="col-md-12 col-lg-12 col-sm-12 character-detail">
                <div class="col-md-2 col-lg-2 col-sm-2">
                    <img class="img-circle img-thumbnail" src="@character.ThumbnailUrl" />
                </div>
                <div class="col-md-10 col-lg-10">
                    <span id="character-id" class="description">@character.Id</span>
                    <h2>@character.Name</h2>
                    <p class="description">@character.Description</p>

                    <h3>Stories</h3>
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <ul class="list-group list-inline row">
                            @foreach (var story in @character.Stories)
                            {
                                <li class="list-group-item col-md-3 col-lg-3 col-sm-2">
                                    <p>@story.Name</p>
                                    @*<p>@story.Type</p>*@
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (Model.SearchResults.Count == 0)
        {
            <div class="col-centered">
                <h2>No results found!</h2>
            </div>
        }

    }
</div>
